
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

*.log
*.tmp
*.utmp
crash-reports/
sysinfo.txt

.idea/
.vs/
.consulo/

dist/
build/
Build/
Builds/
Export/
ExportedObj/
target/

*.app
*.exe
*.war
*.jar
*.apk
*.aab
*.unitypackage

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

node_modules/
*.class
*.py[cod]

**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Ll]ogs/
**/[Mm]emoryCaptures/
**/[Uu]serSettings/

**/ios/
**/android/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
*.pdb
*.mdb

*.pidb.meta
*.pdb.meta
*.mdb.meta

!**/[Aa]ssets/**/*.meta

!**/[Aa]ssets/**/*.dll

**/[Aa]ssets/Plugins/Editor/JetBrains*

.gradle/

**/[Aa]ssets/StreamingAssets/Content*
**/[Aa]ssets/StreamingAssets/google-services-desktop.json
**/[Aa]ssets/Plugin/Android/Firebase/

Assets/Resources/PerformanceTestRunInfo.json
Assets/Resources/PerformanceTestRunInfo.json.meta
Assets/Resources/PerformanceTestRunSettings.json
Assets/Resources/PerformanceTestRunSettings.json.meta

ProjectSettings/SceneTemplateSettings.json

/hooks
/lfs

remote_config_data
